.search{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;

    input {
      border: 0;
      box-shadow: none;
    }

    button {
      margin: 2px 0 0 0;
      background: none;
      box-shadow: none;
      border: 0;
      color: #666666;
      border-left: solid 1px #ccc;
      padding: 6px;

      &:hover, &:focus{
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc;
        color: #333;
        background: none;
      }
    }

    .glyphicon-search {
      font-size: 23px;
    }

}

table{
  padding: 50px;
  td{
    vertical-align: middle;
  }
   tbody {
     tr {
       td{
         vertical-align: middle !important;
        &.name{
             img{
               border-radius: 4px;
             }
             span{
               padding-left:30px;
             }
        }
     }
     }


  }
}
